body {
    background-color: #3c4556!important;
}

a {
    transition: .3s !important;
}

#header.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

.bg-dark,
#header .dropdown-menu {
    background-color: #272937!important;
}

#header .bg-dark {
    border-bottom: 0.5px solid #8c8c8c!important;
}

#header .dropdown-menu .dropdown-item,
#header .navbar-brand .root,
#header .navbar-brand .path {
    color: #ff92cf!important;
}

#header .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(49, 46, 49, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

#header #smallNav {
    background-color: #272937!important;
}

#header #navbarDropdownMenuLink {
    cursor: pointer;
}

#content {
    color: #f2f2f2;
}

#left-sidebar .card {
    background-color: #262837!important;
    border: 0.5px solid #8c8c8c!important;
}

#left-sidebar .card .title a {
    color: #ff92cf!important;
    transition: .3s !important;
    text-decoration: underline;
    text-decoration-color: transparent;
}

#left-sidebar .card .title a:hover {
    text-decoration-color: #ff92cf!important;
}

#left-sidebar .card .title a h5 {
    transition: .3s !important;
}
#left-sidebar .card .title a:hover h5 {
    opacity: 0.75;
}

#left-sidebar .card .badge {
    color: #5af78d!important;
    padding: 0!important;
}

#left-sidebar .card .card-body .summary > p {
    font-size: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.5rem!important;
}

#left-sidebar .card.article .card-body .summary > p {
    font-size: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0!important;
}

#left-sidebar .tags .badge:hover {
    opacity: 0.75;
}

#left-sidebar .card-body pre {
    color: rgba(139, 233, 253, 1);
    background-color: #0c0d13;
    padding: 1rem;
}

#left-sidebar .card-body img {
    width: 100%;
}

#right-sidebar .title {
    color: #ff92cf;
}

#right-sidebar #navTags a {
    color: #f2f2f2!important;
}

#right-sidebar #navTags a:hover {
    color: #5af78d!important;
}

@media(max-width:768px) {
    .navbar-dark .navbar-brand {
        white-space: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }
}
